body {
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
    font-family: Verdana;
    font-size: 100%;
    color: antiquewhite;
    padding: 2%;
}

ul {
    margin-right: 2%
}

ul li {
    padding: 2%;
}

#simon {
    font-family: 'Audiowide', cursive;
    color: #fff;
}

#tablero {
    padding: 4%;
}

a {
    text-decoration: none !important;
    color: #222 !important;
}

p {
    text-align: center;
    font-size: 150%;
}

strong {
    font-size: 150%;
}

#derrota, #victoria {
    font-size: 200%;
}

.cuadro {
    height: 200px;
    opacity: 0.2;
    transition: 500ms;
    border-radius: 10%;
    border-style: double;
    margin: 5%;
}

#cuadro-1 {
    background-color: chartreuse;
}

#cuadro-2 {
    background-color: blue;
}

#cuadro-3 {
    background-color: red;
}

#cuadro-4 {
    background-color: yellow;
}

#cuadro-5 {
    background-color: grey;
}

#cuadro-6 {
    background-color: purple;
}

.oculto {
    display: none;
}